<footer class="footer">
    <div class="footer__in cv" style="background-image: url({{root}}assets/img/footer-bg.jpg);">
        <div class="container posr">
            <button class="footer-button js-button-anchor" data-to="#offer">
                <svg width="50" height="50">
                    <use xlink:href="#button-up"></use>
                </svg>
            </button>

            <div class="footer-top">
                <div class="row align-items-end">
                    <div class="col-lg-4">
                        <div class="footer-logo">
                            <img class="footer-logo__picture" src="{{root}}assets/img/logo.png" alt="Logo">
                            <div class="footer-logo__title text1 font-Medium">ООО «Цифра Лаб»</div>

                            <div class="mb-2">ИНН 9731004705</div>
                            <div>КПП 773101001</div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="footer-copy__wrapper">
                            <a href="#" target="_blank" class="footer-copy">
                                <svg width="150" height="33"><use xlink:href="#nk"></use></svg>
                                <span>Разработка и провижение</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="footer-info__wrapper">
                            <div class="footer-info__time">9<sup>00</sup>-18<sup>00</sup>МСК</div>

                            <div class="footer-info__in">
                                <a href="#" class="footer-info__link text1 font-Medium">
                                    <svg width="30" height="30"><use xlink:href="#footer-ws"></use></svg>
                                    <span>+7 (927) 11 - 22 - 333</span>
                                </a>
                                <a href="#" class="footer-info__link">
                                    <svg width="30" height="30" ><use xlink:href="#footer-email"></use></svg>
                                    <span class="footer-info__link-underline">info@hr.ru</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tac">
                <a href="#" class="link-underline text45 font-Medium">Политика конфиденциальности</a>
            </div>
        </div>
    </div>
</footer>