<div class="header">
    <div class="container">
        <div class="header-in">
            <span class="header-logo">
                <img src="{{root}}assets/img/logo.png" alt="Logo">
                <span class="header-logo__text">Помощник по <br> найму сотрудников <br> 24/7</span>
            </span>

            <div class="header-nav">
                <a href="#" class="header-nav__link js-button-anchor" data-to="#offer">Главная</a>
                <a href="#" class="header-nav__link js-button-anchor" data-to="#about">О системе</a>
                <a href="#" class="header-nav__link js-button-anchor" data-to="#steps">Этапы</a>
                <a href="#" class="header-nav__link js-button-anchor" data-to="#testimonials">Преимущества</a>
                <a href="#" class="header-nav__link js-button-anchor" data-to="#questions">Вопросы</a>
            </div>

            <div class="header-soc d-flex align-items-center gap-10">
                <a href="#" class="header-soc__link">
                    <svg width="40" height="40"><use xlink:href="#ws"></use></svg>
                </a>
                <a href="#" class="header-soc__link">
                    <svg width="40" height="40"><use xlink:href="#email"></use></svg>
                </a>
            </div>
        </div>
    </div>
</div>